/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.jumbotron {
	background-image: url(https://farm9.staticflickr.com/8168/7670604528_0223dab50b_k.jpg);
 	background-position: 0% 55%;
}

body {
 	padding-top: 50px;
	padding-bottom: 20px;
}
