/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.jumbotron {
	background-image: url("../img/musicalchairs.png");
 	background-position: 0% 50%;
}

body {
 	padding-top: 50px;
	padding-bottom: 20px;
}

.jumbotron {
        color: #FFF;
}

.centered {
        text-align: center;
}

.team {
        margin: 20px;
}


#testimonial {
        background-color: #222; 
        margin-top: 20px;
        padding: 15px;  
        font-style: center; 
        font-style: italic;
        color: #FFF; 
        text-align: center;
        font-family: serif;
        font-size: 34px;
}
#testimonial-author {
        font-size: 26px;
}
